<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Standard Page</Name>
    <Alias>StandardPage</Alias>
    <Icon>page.png</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>Page</Master>
    <AllowedTemplates />
    <DefaultTemplate></DefaultTemplate>
    <key>c547f310-b83a-411b-b800-c546e9c44227</key>
  </Info>
  <Structure>
    <DocumentType>StandardPage</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Name>Basement Content</Name>
      <Alias>basementText</Alias>
      <Type>5e9b75ae-face-41c8-b47e-5f4b0fd82f83</Type>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Content to appear below the main image picked for the page]]></Description>
    </GenericProperty>
    <GenericProperty>
      <Name>Related Links</Name>
      <Alias>relatedLinks</Alias>
      <Type>71b8ad1a-8dc2-425c-b6b8-faa158075e63</Type>
      <Definition>21e798da-e06e-4eda-a511-ed257f78d4fa</Definition>
      <Tab>Related Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Right hand related navigational links for the page]]></Description>
    </GenericProperty>
    <GenericProperty>
      <Name>Related Image</Name>
      <Alias>relatedImage</Alias>
      <Type>ead69342-f06d-4253-83ac-28000225583b</Type>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Tab>Related Images</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The main image for the page, displayed between Main content and Basement Content]]></Description>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>11</Id>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Id>12</Id>
      <Caption>Related Content</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Id>13</Id>
      <Caption>Related Images</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>