<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Root</Name>
    <Alias>Root</Alias>
    <Icon>folder.gif</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <AllowedTemplates>
      <Template>root</Template>
    </AllowedTemplates>
    <DefaultTemplate>root</DefaultTemplate>
    <key>ace86693-13f4-45e5-af36-41a0537e241c</key>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</DocumentType>