@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "MasterView.cshtml";
}
<div class="row">
		<div class="large-12 columns">
			<h2>@Umbraco.Field("title")</h2>
			<p style="background-color:#bdd333"><img style="display:block;text-align:center;margin:auto;" src="/img/fleeves-copy-216x500.png"></p>
			<hr />
		</divp
	</div>

	<div class="row">
		<div class="large-8 columns">
		<img src="/img/landscape-logo.png">
			@Umbraco.Field("bodyText")

	</div>