<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<DocumentType>
  <Info>
    <Name>Landing Page</Name>
    <Alias>LandingPage</Alias>
    <Icon>page_green.png</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>
    </Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>Page</Master>
    <AllowedTemplates />
    <DefaultTemplate>
    </DefaultTemplate>
  </Info>
  <Structure>
    <DocumentType>StandardPage</DocumentType>
    <DocumentType>CareersSection</DocumentType>
    <DocumentType>PeopleSection</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Name>Umbraco Internal Redirect</Name>
      <Alias>umbracoInternalRedirectId</Alias>
      <Type>158aa029-24ed-4948-939e-c3da209e5fba</Type>
      <Definition>a6857c73-d6e9-480c-b6e6-f15f6ad11125</Definition>
      <Tab>Umbraco</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[Display content from another node without redirection]]></Description>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>14</Id>
      <Caption>Umbraco</Caption>
    </Tab>
  </Tabs>
</DocumentType>