<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>System Page</Name>
    <Alias>SystemPage</Alias>
    <Icon>cog.png</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>Page</Master>
    <AllowedTemplates />
    <DefaultTemplate></DefaultTemplate>
    <key>4e94635a-41a6-4799-9817-10fafe7ec03d</key>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</DocumentType>