<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Redirect</Name>
    <Alias>Redirect</Alias>
    <Icon>folder.gif</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>System</Master>
    <AllowedTemplates />
    <DefaultTemplate></DefaultTemplate>
    <key>39c2ec96-f0d3-4653-adcc-64cc145ee995</key>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Name>Pick Internal Redirect Node</Name>
      <Alias>umbracoInternalRedirectId</Alias>
      <Type>158aa029-24ed-4948-939e-c3da209e5fba</Type>
      <Definition>a6857c73-d6e9-480c-b6e6-f15f6ad11125</Definition>
      <Tab>Umbraco</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Display the content from a different node in umbraco for the url of the current node]]></Description>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>6</Id>
      <Caption>Umbraco</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>