<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Redirects Folder</Name>
    <Alias>RedirectsFolder</Alias>
    <Icon>arrow_out.png</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>System</Master>
    <AllowedTemplates />
    <DefaultTemplate></DefaultTemplate>
    <key>fc1ad3df-eeaf-491a-9938-9e9503c6ba30</key>
  </Info>
  <Structure>
    <DocumentType>Redirect</DocumentType>
    <DocumentType>RedirectsFolder</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</DocumentType>