<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Page</Name>
    <Alias>Page</Alias>
    <Icon>folder.gif</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>Content</Master>
    <AllowedTemplates />
    <DefaultTemplate></DefaultTemplate>
    <key>96eaa0d5-9897-4359-b501-07304f7e11c4</key>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</DocumentType>