<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>System</Name>
    <Alias>System</Alias>
    <Icon>folder.gif</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>Root</Master>
    <AllowedTemplates />
    <DefaultTemplate></DefaultTemplate>
    <key>0e6c240f-6892-425f-962f-ba51d4abfda9</key>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</DocumentType>