<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Shared Resources</Name>
    <Alias>SharedResources</Alias>
    <Icon>application_cascade.png</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <Master>System</Master>
    <AllowedTemplates />
    <DefaultTemplate></DefaultTemplate>
    <key>6362cbc1-487b-4368-9dff-b4631c376057</key>
  </Info>
  <Structure>
    <DocumentType>RedirectsFolder</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</DocumentType>